.first {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  display: inline-block;
  
  animation: revealBlock1 0s var(--t) forwards;
}

.second {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  display: inline-block;

  animation: revealBlock2 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
/*  padding-bottom: 4px;*/

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock1 {
  100% {
    color: #f4f4f4;
  }
}

@keyframes revealBlock2 {
  100% {
    color: #f4f4f4;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }

}
